body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffbb00;
    padding: 1rem;
    box-shadow: 1px 16px 8px 0px rgba(34, 60, 80, 0.2);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.listProduct .item {
    background-color: bisque;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

.listProduct .item img {
    font-size: 3rem;
}

.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.cart-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}